@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  background-image: url("http://tabmok99.mortalkombatonline.com/courtyard_with_shangs_empty_throne.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Character-ul{
  list-style-type: none;
}
.main-ul {
  list-style-type: none;
}
.charactersMenu {
color: white;
margin-left: 40%;
position: absolute;
top: 0;
}

.charactersMenu ul ul {
  display: none;
}
.charactersMenu li.active ul {
  display: block;
}
//Health Bars
.player-status-bar {
  height: 35px;
  background-color: green;
  width: 49%;
  float:left;
  border-radius: 10px 10px;
}
.enemy-status-bar {
  height: 35px;
  background-color: green;
  width: 49%;
  float:right;
  border-radius: 10px 10px;
}

.player-status-bar h1,
.enemy-status-bar h1, {
  padding-top: 10px;
}
//Game section
.game-section {
  margin-top: 5%;
}

//Pictures
.players {
  height: 340px;
  display: none;
}
//Enemies
.enemies {
  height: 340px;
  display: none;
  margin-left: 77%;
  margin-top: -24%;
  margin-bottom: 1%;
}
