
<h1>Mortal Codebat</h1>

  <div class="charactersMenu">
    <h2>CHOOSE YOU'RE CHAMPION</h2>
      <ul>
        <li class="Character">Scorpion</li>
        <li class="Character">SubZero</li>
        <li class="Character">Raiden</li>
        <li class="Character">Jaxx</li>
      </ul>
  </div>
