
<h1>Mortal Codebat</h1>
<div class="game-section">
    <br>
    <button class="js-startGame">Start Game</button>
    <button class="js-attackButton">Attack</button>
    <button class="js-specialAttack-btn">Special Attack</button>
  </div>


  <div class="charactersMenu">
    <ul class="main-ul">
      <li class="active">
      <h2>CHOOSE YOUR CHAMPION</h2>
        <ul class="Character-ul">
          <li class="js-character" value="Scorpion">Scorpion</li>
          <li class="js-character" value="SubZero">SubZero</li>
          <li class="js-character" value="Raiden">Raiden</li>
          <li class="js-character" value="Jaxx">Jaxx</li>
      </ul>
    </li>
  </div>

    <div class="player-status-bar">
      <h1>Player Name</h1>
    </div>
  <div class="enemy-status-bar">
    <h1>Enemy Name</h1>
</div>
