
<h1>Mortal Codebat</h1>
  <div class="charactersMenu">
    <h2>CHOOSE YOU'RE CHAMPION</h2>
      <ul class="Character-ul">
        <li class="character" value="Scorpion">Scorpion</li>
        <li class="character" value="SubZero">SubZero</li>
        <li class="character" value="Raiden">Raiden</li>
        <li class="character" value="Jaxx">Jaxx</li>
      </select>
  </div>
