
<h1 class="mortalCodebat">Mortal Codebat</h1>
<div class="game-section">
    <br>
    <button class="js-startGame">Start Game</button>
    <button class="js-attackButton">Attack</button>
    <button class="js-specialAttack-btn">Special Attack</button>
  </div>


  <div class="charactersMenu">
    <ul class="main-ul">
      <li class="active">
      <h2>CHOOSE YOUR CHAMPION</h2>
        <ul class="Character-ul">
          <li class="js-character scorpion-li" value="Scorpion">Scorpion</li>
          <li class="js-character subzero-li" value="SubZero">SubZero</li>
          <li class="js-character raiden-li" value="Raiden">Raiden</li>
          <li class="js-character jaxx-li" value="Jaxx">Jaxx</li>
      </ul>
    </li>
  </div>

  <img src="images/scorpion.png" class="players scorpion" alt=''>
  <img src="images/subzero.gif" class="players subzero" alt=''>
  <img src="images/raiden.png" class="players raiden" alt=''>
  <img src="images/Jaxx.png" class="players jaxx" alt=''>

  <img src="images/sonya.png" class="enemies Sonya" alt=''>
  <img src="images/reptile.png" class="enemies Reptile" alt=''>
  <img src="images/goro.png" class="enemies Goro" alt=''>
  <img src="images/katana.png" class="enemies Katana" alt=''>


    <div class="player-status-bar">
      <p class="js-playerHealth"></p>
    <h1 class="js-playerName">Player Name</h1>
    </div>
  <div class="enemy-status-bar">
    <p class="js-enemyHealth"></p>
    <h1 class="js-enemyName">Enemy Name</h1>
</div>
